
#fila{
    margin-left: 20px;
    margin-top: 20px;
}

#filaForm{
    margin-left: 20px;
    margin-top: 20px;
}

#botonA{
    margin-left: 18px;
    margin-top: 20px;
}


@media screen and (max-width: 1200px){

    #fila{
        width: 100%; margin:5px;display:inline-block

    }

}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10
{
    border: 3px solid;
    border-color: rgb(204, 198, 198);
}

